

.list-container {
    display: flex;
    justify-content: space-between;
}

.columnA-container {
    flex-direction: column;
}

.columnB-container {
    flex-direction: column;
}

.spinner-container {
    margin-top: 150px;
}